.book_list_container{
 margin-top: 3rem;
}

.book_list_title{
    color:white;
    font-size: 2rem;
}

.book_list{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr) ) ;
    margin-top: 2rem;
    grid-gap:2.5rem;
    
}